In [ ]:
import pandas as pd

In [ ]:
series = pd.Series(["BMW", "Toyota", "lenovo"])

In [ ]:
series

0       BMW
1    Toyota
2    lenovo
dtype: object

In [ ]:
colors = pd.Series(["Red", "Blue", "Green"])
colors

0      Red
1     Blue
2    Green
dtype: object

In [ ]:
car_data = pd.DataFrame({"Car Make": series, "Colors": colors})
car_data

  Car Make Colors
0      BMW    Red
1   Toyota   Blue
2   lenovo  Green

In [ ]:
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
car_sales.to_csv("exported_car_sales.csv", index = False)

In [ ]:
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
## Describing Data

In [ ]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [ ]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [ ]:
car_columns = car_sales.columns
car_columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [ ]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [ ]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [ ]:
car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [ ]:
car_prices = pd.Series([1500, 3000, 111250])
car_prices.mean()

38583.333333333336

In [ ]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [ ]:
car_sales["Doors"].sum()

40

In [ ]:
len(car_sales)

10

## Viewing And Selecting Data

In [ ]:
car_sales.head()

NameError: ignored

In [ ]:
car_sales.head(7)

In [ ]:
car_sales.tail()

In [ ]:
animals = pd.Series(["cat", "dog", "pandas", "horse", "cow"],index=[0,3,9,8,3])
animals

In [ ]:
animals.loc[3]
car_sales

In [ ]:
car_sales.loc[3]

In [ ]:
animals.iloc[3]

In [ ]:
car_sales.iloc[3]

In [ ]:
animals.iloc[:3]

In [ ]:
car_sales.iloc[:3]

In [ ]:
car_sales["Make"]

In [ ]:
car_sales

In [ ]:
car_sales["Colour"]

In [ ]:
car_sales["Make"]

In [ ]:
car_sales.Make

In [ ]:
car_sales[car_sales["Make"] == "Toyota"]

In [ ]:
car_sales[car_sales["Odometer (KM)"]>100000]

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

In [ ]:
car_sales.groupby(["Make"]).mean()

In [ ]:
car_sales

In [ ]:
car_sales["Odometer (KM)"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist()

In [ ]:
car_sales["Price"].dtype

In [ ]:
car_sales["Price"] = car_sales["Price"].str.replace('[\$\,\.]','',).astype(int)

In [ ]:
car_sales

In [ ]:
car_sales["Price"].plot()

## Manipulating Data

In [ ]:
car_sales["Make"].str.lower()

NameError: ignored

In [ ]:
car_sales["Make"] = car_sales["Make"].str.lower()
car_sales

In [ ]:
car_sales_missing = pd.read_csv("car-sales-missing-data.csv")
car_sales_missing

In [ ]:
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean())
#car_sales_missing["Odometer"]

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(), inplace = True)

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing_dropped = car_sales_missing.dropna()
car_sales_missing_dropped

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing_dropped.to_csv("car-sales-missing-dropped.csv")

# Column from series

In [ ]:
seats_column = pd.Series([5, 5, 5, 5, 5])
car_sales["Seats"] = seats_column
car_sales

     Make Colour  Odometer (KM)  Doors    Price  Seats
0  toyota  White         150043      4   400000    5.0
1   honda    Red          87899      4   500000    5.0
2  toyota   Blue          32549      3   700000    5.0
3     bmw  Black          11179      5  2200000    5.0
4  nissan  White         213095      4   350000    5.0
5  toyota  Green          99213      4   450000    NaN
6   honda   Blue          45698      4   750000    NaN
7   honda   Blue          54738      4   700000    NaN
8  toyota  White          60000      4   625000    NaN
9  nissan  White          31600      4   970000    NaN

In [ ]:
car_sales["Seats"].fillna(5, inplace = True)

In [ ]:
car_sales

     Make Colour  Odometer (KM)  Doors    Price  Seats
0  toyota  White         150043      4   400000    5.0
1   honda    Red          87899      4   500000    5.0
2  toyota   Blue          32549      3   700000    5.0
3     bmw  Black          11179      5  2200000    5.0
4  nissan  White         213095      4   350000    5.0
5  toyota  Green          99213      4   450000    5.0
6   honda   Blue          45698      4   750000    5.0
7   honda   Blue          54738      4   700000    5.0
8  toyota  White          60000      4   625000    5.0
9  nissan  White          31600      4   970000    5.0

In [ ]:
fuel_economy = [7.2, 9.5, 4.5, 8.0, 6.5, 5.0, 7.0, 5.0, 9.5, 4.5]
car_sales["Fuel per 100KM"] = fuel_economy
car_sales

     Make Colour  Odometer (KM)  ...  Total fuel used(L)  Wheels  Passed road safety
0  toyota  White         150043  ...           10803.096       4                True
1   honda    Red          87899  ...            8350.405       4                True
2  toyota   Blue          32549  ...            1464.705       4                True
3     bmw  Black          11179  ...             894.320       4                True
4  nissan  White         213095  ...           13851.175       4                True
5  toyota  Green          99213  ...            4960.650       4                True
6   honda   Blue          45698  ...            3198.860       4                True
7   honda   Blue          54738  ...            2736.900       4                True
8  toyota  White          60000  ...            5700.000       4                True
9  nissan  White          31600  ...            1422.000       4                True

[10 rows x 10 columns]

In [ ]:
car_sales["Total fuel used"] = car_sales["Odometer (KM)"]/100 * car_sales["Fuel per 100KM"]
car_sales

     Make Colour  Odometer (KM)  ...  Wheels  Passed road safety  Total fuel used
0  toyota  White         150043  ...       4                True        10803.096
1   honda    Red          87899  ...       4                True         8350.405
2  toyota   Blue          32549  ...       4                True         1464.705
3     bmw  Black          11179  ...       4                True          894.320
4  nissan  White         213095  ...       4                True        13851.175
5  toyota  Green          99213  ...       4                True         4960.650
6   honda   Blue          45698  ...       4                True         3198.860
7   honda   Blue          54738  ...       4                True         2736.900
8  toyota  White          60000  ...       4                True         5700.000
9  nissan  White          31600  ...       4                True         1422.000

[10 rows x 11 columns]

In [ ]:
car_sales["Wheels"] = 4

In [ ]:
car_sales

     Make Colour  Odometer (KM)  ...  Wheels  Passed road safety  Total fuel used
0  toyota  White         150043  ...       4                True        10803.096
1   honda    Red          87899  ...       4                True         8350.405
2  toyota   Blue          32549  ...       4                True         1464.705
3     bmw  Black          11179  ...       4                True          894.320
4  nissan  White         213095  ...       4                True        13851.175
5  toyota  Green          99213  ...       4                True         4960.650
6   honda   Blue          45698  ...       4                True         3198.860
7   honda   Blue          54738  ...       4                True         2736.900
8  toyota  White          60000  ...       4                True         5700.000
9  nissan  White          31600  ...       4                True         1422.000

[10 rows x 11 columns]

In [ ]:
car_sales["Passed road safety"] = True
car_sales.dtypes

Make                   object
Colour                 object
Odometer (KM)           int64
Doors                   int64
Price                   int64
Seats                 float64
Fuel per 100KM        float64
Total fuel used(L)    float64
Wheels                  int64
Passed road safety       bool
Total fuel used       float64
dtype: object

In [ ]:
car_sales

     Make Colour  Odometer (KM)  ...  Total fuel used(L)  Wheels  Passed road safety
0  toyota  White         150043  ...           10803.096       4                True
1   honda    Red          87899  ...            8350.405       4                True
2  toyota   Blue          32549  ...            1464.705       4                True
3     bmw  Black          11179  ...             894.320       4                True
4  nissan  White         213095  ...           13851.175       4                True
5  toyota  Green          99213  ...            4960.650       4                True
6   honda   Blue          45698  ...            3198.860       4                True
7   honda   Blue          54738  ...            2736.900       4                True
8  toyota  White          60000  ...            5700.000       4                True
9  nissan  White          31600  ...            1422.000       4                True

[10 rows x 10 columns]

In [ ]:
car_sales = car_sales.drop("Total fuel used", axis = 1)
car_sales

     Make Colour  Odometer (KM)  ...  Total fuel used(L)  Wheels  Passed road safety
0  toyota  White         150043  ...           10803.096       4                True
1   honda    Red          87899  ...            8350.405       4                True
2  toyota   Blue          32549  ...            1464.705       4                True
3     bmw  Black          11179  ...             894.320       4                True
4  nissan  White         213095  ...           13851.175       4                True
5  toyota  Green          99213  ...            4960.650       4                True
6   honda   Blue          45698  ...            3198.860       4                True
7   honda   Blue          54738  ...            2736.900       4                True
8  toyota  White          60000  ...            5700.000       4                True
9  nissan  White          31600  ...            1422.000       4                True

[10 rows x 10 columns]

In [ ]:
car_sales_suffled = car_sales.sample(frac=1)

In [ ]:
car_sales_suffled

     Make Colour  Odometer (KM)  ...  Total fuel used(L)  Wheels  Passed road safety
7   honda   Blue          54738  ...            2736.900       4                True
1   honda    Red          87899  ...            8350.405       4                True
3     bmw  Black          11179  ...             894.320       4                True
4  nissan  White         213095  ...           13851.175       4                True
9  nissan  White          31600  ...            1422.000       4                True
0  toyota  White         150043  ...           10803.096       4                True
6   honda   Blue          45698  ...            3198.860       4                True
5  toyota  Green          99213  ...            4960.650       4                True
8  toyota  White          60000  ...            5700.000       4                True
2  toyota   Blue          32549  ...            1464.705       4                True

[10 rows x 10 columns]

In [ ]:
car_sales_suffled.sample(frac=0.2)

     Make Colour  Odometer (KM)  ...  Total fuel used(L)  Wheels  Passed road safety
0  toyota  White         150043  ...           10803.096       4                True
1   honda    Red          87899  ...            8350.405       4                True

[2 rows x 10 columns]

In [ ]:
car_sales_suffled.reset_index(drop=True, inplace=True)

In [ ]:
car_sales_suffled

     Make Colour  Odometer (KM)  ...  Total fuel used(L)  Wheels  Passed road safety
0   honda   Blue          54738  ...            2736.900       4                True
1   honda    Red          87899  ...            8350.405       4                True
2     bmw  Black          11179  ...             894.320       4                True
3  nissan  White         213095  ...           13851.175       4                True
4  nissan  White          31600  ...            1422.000       4                True
5  toyota  White         150043  ...           10803.096       4                True
6   honda   Blue          45698  ...            3198.860       4                True
7  toyota  Green          99213  ...            4960.650       4                True
8  toyota  White          60000  ...            5700.000       4                True
9  toyota   Blue          32549  ...            1464.705       4                True

[10 rows x 10 columns]

In [ ]:
car_sales["Odometer (KM)"] = car_sales["Odometer (KM)"].apply(lambda x: x/1.6)
car_sales

     Make Colour  Odometer (KM)  ...  Total fuel used(L)  Wheels  Passed road safety
0  toyota  White      93776.875  ...           10803.096       4                True
1   honda    Red      54936.875  ...            8350.405       4                True
2  toyota   Blue      20343.125  ...            1464.705       4                True
3     bmw  Black       6986.875  ...             894.320       4                True
4  nissan  White     133184.375  ...           13851.175       4                True
5  toyota  Green      62008.125  ...            4960.650       4                True
6   honda   Blue      28561.250  ...            3198.860       4                True
7   honda   Blue      34211.250  ...            2736.900       4                True
8  toyota  White      37500.000  ...            5700.000       4                True
9  nissan  White      19750.000  ...            1422.000       4                True

[10 rows x 10 columns]